.annotation_outer_dot {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color-background-violet-light);
    background: radial-gradient(
        circle,
        var(--color-primary-violet) 0%,
        var(--color-background-violet-light) 60%
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 40;
}

.annotation_inner_dot {
    width: 15px;
    height: 15px;
    background-color: var(--color-primary-violet);
    border-radius: 50%;
}

.annotation_outer_dot:hover .tooltip {
    visibility: visible;
    animation: scaleUp 0.3s ease-out forwards;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 0.8rem;
    border-radius: 3px;
    font-size: 12px;
    max-width: 15rem;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    pointer-events: none;
    transform: scale(0.5); 
    opacity: 0;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
        opacity: 0; 
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
