.canvas_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_logo {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

.placeholder_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--color-background-violet-light);
}

.image_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vh;
    max-height: 60vh;
    background-color: white;
}

.image_uploader_container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.uploaded_image {
    border-radius: 0.8rem;
}

.placeholder_text {
    border: 1px solid var(--color-background-violet);
    padding: 8rem 20rem;
    min-width: 100%;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    font-size: 16px;
    color: var(--color-primary-gray);
}

