.upload_button_container {
    display: flex;
    align-items: center;
    background-color: var(--color-primary-violet);
    border-radius: 0.5rem;
    border: none;
}

.upload_button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.upload_button:hover {
   opacity: 0.7;
}

.file_input {
    display: none;
}
