.upload_button_container {
    display: flex;
    align-items: center;
    background-color: var(--color-primary-violet);
    border-radius: 0.5rem;
    border: none;
}

.app_name_placeholder {
    font-size: 2rem;
    color: var(--color-primary-gray);
    margin-bottom: 1rem;
}


.upload_trigger_button {
    margin-top: 2rem;
    border: none;
    border-radius: 0.4rem;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    background-color: var(--color-primary-violet);
    align-items: center;
    gap: 8px;
}

.upload_trigger_button:hover {
    opacity: 0.7;
}

.dragging {
    background-color: rgba(0, 123, 255, 0.1);
    border-color: #007bff;
}

.drag_drop_text {
    color: var(--color-secondary-gray);
    font-size: 18px;
    text-align: center;
    max-width: 20rem;
}

.file_input {
    display: none;
}
